.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(10px);

    /* background-color: #00000086; */
}

.logo {
    height: 100px;
    background-blend-mode: transparent;
    margin-top: 10px;

}
.li-text{
    color: white;
    font-size: 1.5rem;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    list-style : none;
    background-color: rgba(203, 213, 225, 0.5); /* Equivalent to bg-slate-300 with bg-opacity-50 */
    padding-top: 1.25rem; /* Equivalent to py-5 */
    padding-bottom: 1.25rem; /* Equivalent to py-5 */
    padding-left: 2.25rem; /* Equivalent to px-9 */
    padding-right: 2.25rem; /* Equivalent to px-9 */
    border-radius: 0.75rem; /* Equivalent to rounded-xl */
    backdrop-filter: blur(20px);
  
    
}
/* .Border{
    padding: 5px 25px;
    border-radius: 50px;
    background-color: #86a8b8ed;
    transition: 0.5s;
} */

.nav-connect {
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

/* .nav-connect:hover {
    transform: scale(1.05);
} */
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
.buy-me-img{
    height: 40px;
}
.buy-me-coffee{
    color: #bec3c8ef;
    font-weight: 400;
    font-size:20px;
}

/* 768px */
/* @media (width < 1450px){
    /* .buy-me-coffee{
        font-size: 10px;
    } */
    .buy-me-img{
        height: 25px;
    }
/*} */


@media (max-width:1287px) {
    .navbar{
        backdrop-filter: none;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: relative;
        right: 10px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 25px;
        left: 260px;
        width: 30px;
    }
    .nav_menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #32353966;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        color: white;

    }
    .nav_menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;

    }
}