.footer{
    height: 100px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    
}

.footer-left{
    display: flex;
    margin-left: 10rem;
    flex-direction: column;
    gap: 0.8rem;
    /* text-align: center; */
}

.footer-right{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    justify-items: end;
    line-height: 2.2rem;
    gap: 1.5rem;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
    margin-top: 5px;
    justify-content: end;
}
.foot-icon{
    font-size: 1.3rem;
}
.made-by{
    margin-bottom: 3px;
}

@media (width<1250px) {
    .footer{
        margin-top: 1rem;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-left{
        margin: 0 ;
    }
    
    .footer-right{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
}