* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Smooth parallax effect */
  }
  
  .bg-image1 {
    background-image: url(../../assets/bg4.jpeg)
  }

  